<div class="m-white-list">
    <div class="m-white-list__content">
        <table>
            <tr>
                <th>Whitelist Open</th>
                <th>:</th>
                <td>June 1st at 13:00 pm UTC (GMT+3)</td>
            </tr>
            <tr>
                <th>Whitelist Closed</th>
                <th>:</th>
                <td>July 2st at 14:00 pm UTC (GMT+3)</td>
            </tr>
            <tr>
                <th>Public Sale Date</th>
                <th>:</th>
                <td>Aug 15th at 16:00 pm UTC (GMT+3)</td>
            </tr>
        </table>
    </div>
</div>