<div class="m-white-list js-scroll fade-in-up">
    <div class="m-white-list__content">
        <ul>
            <li>
                <span>Whitelist Open</span>
                <span>:</span>
                June 1st at 13:00 pm UTC (GMT+3)
            </li>
            <li>
                <span>Whitelist Closed</span>
                <span>:</span>
                July 2st at 14:00 pm UTC (GMT+3)
            </li>
            <li>
                <span>Public Sale Date</span>
                <span>:</span>
                Aug 15th at 16:00 pm UTC (GMT+3)
            </li>
        </ul>
    </div>
</div>