<div class="m-newsletter">
    <h2>YOU WILL NEVER SAVE ALONE</h2>
    <p>Don’t hesitate to subscribe to the latest news about Nexspecto</p>

    <Form>
        <div class="m-newsletter__input"><input type="email" placeholder="E-mail adres" required></div>
        <button><IconFont icon="send" /></button>
    </Form>
</div>