<div class="m-newsletter" data-component="Newsletter">
    <h2 class="js-scroll fade-in-up">YOU WILL NEVER SAVE ALONE</h2>
    <p class="js-scroll fade-in-up">Don’t hesitate to subscribe to the latest news about Nexspecto</p>

    <Form class="js-scroll fade-in-up">
        <div class="m-newsletter__input"><input type="email" placeholder="E-mail adres" required></div>
        <button aria-label="Send"><IconFont icon="send" /></button>
    </Form>
</div>