$ {
    const title = input.title;
    const text = input.text;
    const percent = input.percent;
}
<div class="a-chart-box" data-title="${title}">
    <div class="a-chart-box__content">
        <div class="a-chart-box-content__text">
            <span>${percent}%</span>
            <h5>${title}</h5>
            <h6>${text}</h6>
        </div>
    </div>
</div>