$ {
    let classes = ["m-logo"];

    if (input.class) {
        classes.push(input.class);
    }
}
<div class=classes>
    <a href="Homepage.html" title="nexspecto">
        <Image src="../../assets/images/content/logo.svg" width="174" height="40" />
        <Image src="../../assets/images/content/logo-color.svg" width="174" height="40" />
    </a>
</div>