$ {
    let classes = ["m-logo"];

    if (input.class) {
        classes.push(input.class);
    }
}
<div class=classes>
    <a href="#">
        <Image src="../../assets/images/content/logo.svg" />
        <Image src="../../assets/images/content/logo-color.svg" />
    </a>
</div>