$ {
    let classes = ["m-logo"];

    if (input.class) {
        classes.push(input.class);
    }
}
<div class=classes>
    <a href="#"><Image src="../../assets/images/content/logo.svg" /></a>
</div>