.m-nav {
  @media screen and (max-width: 990px) {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    font-size: rem(16px);
    font-weight: 500;
    li {
      a {
        color: #8585a2;
        padding: 0 16px;

        @media screen and (max-width: 1200px) {
          padding: 0 10px;
        }

        @media screen and (max-width: 1024px) {
          padding: 0 8px;
        }
        
        &:hover {
          transition: all 0.5s ease;
          color: #fff;
        }
      }

      &.active {
        a {
          color: #fff !important;
        }
      }
    }
    
  }
}
