<nav class="m-nav">
    <ul> 
        <li><a href="#">presale</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">tokens</a></li>
        <li><a href="#">roadmap</a></li>
        <li><a href="#">team</a></li>
        <li><a href="#">faq</a></li>
        <li><a href="#">contact</a></li>
    </ul>
</nav>