<nav class="m-nav" data-component="Nav">
    <ul> 
        <li><a href="#presale">presale</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#tokens">tokens</a></li>
        <li><a href="#roadmap">roadmap</a></li>
        <li><a href="#team">team</a></li>
        <li><a href="#faq">faq</a></li>
        <li><a href="#contact">contact</a></li>
    </ul>
</nav>