.a-video {
  overflow: hidden;
  position: relative;
  content-visibility: auto;
  z-index: 2;

  video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 1;
    margin-bottom: -2px;
  }
}
