<include('../../templates/Base/Base.marko')>

  <@title>Homepage</@title>
  <@body>
    <Section><Hero /></Section>
    <Section><PreSale /></Section>
    <Section><About /></Section>
    <Section><Tokens /></Section>
    <Section>
      <RoadMap />
      <Team />
      <Faq />
      <Contact />
      <Footer />
    </Section>
  </@body>


</include>


