<include('../../templates/Base/Base.marko')>

  <@title>Homepage</@title>
  <@body>
    <Section><Hero /></Section>
    <Section>Page 2</Section>
    <Section>Page 3</Section>
    <Section>Page 4</Section>
    <Section>Page 5</Section>
    <Section>Page 6</Section>
  </@body>


</include>


