$ {
    const subnav = input.subnav
    const items = input.items
}
<div class="m-left-nav" data-component="LeftNav">
    <ul>
        <li><a href="#inner-about">about</a></li>
        <li><a href="#inner-features">features</a></li>
        <li><a href="#inner-advantages">advantages</a></li>
    </ul>
</div>