.m-social-media {
  margin: 48px 0;
  h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-align: center;
    color: #8b9916;
  }

  ul {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
			margin: 0 16px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 60px;
        height: 60px;
        background-color: #0b0b45;
				border-radius: 100%;
      }
    }
  }
}
