$ {
    const classes = ["m-social-media"];

    if (input.class) {
        classes.push(input.class)
    }
}
<div class=classes>
    <h3 if(input.title)>join the nexspecto community</h3>
    <ul>
        <li><a href="#" target="_blank" title="Twitter"><IconFont icon="twitter" /></a></li>
        <li><a href="#" target="_blank" title="Medium"><IconFont icon="medium" /></a></li>
        <li><a href="#" target="_blank" title="Telegram"><IconFont icon="telegram" /></a></li>
        <li><a href="#" target="_blank" title="Discord"><IconFont icon="discord" /></a></li>
        <li><a href="#" target="_blank" title="Reddit"><IconFont icon="reddit" /></a></li>
        <li><a href="#" target="_blank" title="Instagram"><IconFont icon="instagram" /></a></li>
    </ul>
</div>