.m-social-media {
  margin: 48px 0;

  @media screen and (max-width: 640px) {
    margin: 32px 0;
  }
  h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 5px;
    text-align: center;
    color: #8b9916;

    @media screen and (max-width: 640px) {
      font-size: 16px;
      letter-spacing: 3.81px;
    }
  }

  ul {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 640px) {
      margin-top: 32px;
    }
    li {
      margin: 0 13px;
      width: 66px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 640px) {
        margin: 0 7px;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 60px;
        height: 60px;
        background-color: #0b0b45;
        border-radius: 100%;
        transition: all 0.5s ease;

        @media screen and (max-width: 640px) {
          width: 40px;
          height: 40px;

          i {
            &:before {
              font-size: 14px;
            }
          }
        }

        &:hover {
          background-color: #131361;
          width: 66px;
          height: 66px;
        }

        &:active,
        &:focus {
          width: 54px;
          height: 54px;
          background-color: #080838;
        }
      }
    }
  }
}
