<div class="m-social-media">
    <h3 if(input.title)>join the nexspecto community</h3>
    <ul>
        <li><a href="#" target="_blank"><IconFont icon="twitter" /></a></li>
        <li><a href="#" target="_blank"><IconFont icon="medium" /></a></li>
        <li><a href="#" target="_blank"><IconFont icon="telegram" /></a></li>
        <li><a href="#" target="_blank"><IconFont icon="discord" /></a></li>
        <li><a href="#" target="_blank"><IconFont icon="reddit" /></a></li>
        <li><a href="#" target="_blank"><IconFont icon="instagram" /></a></li>
    </ul>
</div>