.a-input {
  position: relative;
  width: 100%;

  input {
    background-color: #484874;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #8585a2;
    padding: rem(9px) rem(12px);
    color: #fff;
    font-size: rem(16px);
    font-weight: 500;
    letter-spacing: normal;
    height: 40px;

    &::placeholder {
      color: #c2c2d0;
    }

    &.parsley-error {
      border-color: $Monza;
      color: $Monza;
    }
  }

  input[type="text"],
  input[type="password"] {
    -webkit-appearance: none;
  }

  label {
    color: #fff;
    font-size: rem(16px);
    margin-bottom: 12px;
    display: flex;
  }
}
