.o-header {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 70px;
  padding: 15px 0;
  background-color: rgba($color: #0b0b45, $alpha: 0.9);
  width: 100%;
  will-change: transform;
  transition: transform 0.25s ease-in-out;

  @media screen and (max-width: 990px) {
    background-color: #fff;
  }

  &--pinned {
    transform: translateY(0);
  }

  &--unpinned {
    transform: translateY(-150%);
  }

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(146, 197, 235, 0), #92c5eb 10%, #8da758 91%, rgba(139, 153, 22, 0));

    @media screen and (max-width: 990px) {
      display: none;
    }
  }

  .a-hamburger {
    display: none;

    @media screen and (max-width: 990px) {
      display: inline-flex;
      position: absolute;
      right: 15px;
      top: 0;
      width: rem(60px);
      height: rem(70px);
    }
  }
}
