$ {
   let classes = ["o-header"];
   const options = input || {};

   if (input.class) {
      classes.push(input.class);
   }
}
<header class=classes data-component="Header">
   <div class="container-fluid">
      <Logo />
      <Hamburger />
      <div class="o-header__nav">
         <Nav />
         <OtherNav />
         <SocialMedia />
      </div>
   </div>
</header>