$ {
    const src = input.src || "../../assets/images/content/team/avatar-01.png";
    const name = input.name || "YILMAZ ÇİFTÇİ";
    const title = input.title || "co-founder & chief operating";
}
<a href="#" target="_blank" class="m-card-user">
    <div class="m-card-user__profile">
        <Image src=src />
    </div>
    <div class="m-card-user__content">
        <div class="m-card-user-content__box">
            <h5>${name}</h5>
            <span>${title}</span>
        </div>
    </div>
    <div class="m-card-user__social">
        <IconFont icon="linkedin" />
    </div>
</a>