.a-textarea {
  position: relative;
  font-weight: 500;

  textarea {
    background-color: #484874;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #8585a2;
    padding: rem(9px) rem(12px);
    color: #fff;
    font-size: rem(16px);
    font-weight: 500;
    letter-spacing: normal;
    resize: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    height: 120px;
    transition: all 0.5s ease;

    &::placeholder {
      color: #c2c2d0;
    }

    &.parsley-error {
      border-color: $Monza;
      color: $Monza;
    }

    &:hover,
    &:focus {
      border-color: #c2c2d0;
    }
  }
  label {
    color: #fff;
    font-size: rem(16px);
    margin-bottom: 12px;
    display: flex;
  }
}
