<div class="m-progressbar">
    <div class="m-progressbar__top">
        <span>Project Phase:</span>%33
    </div>

    <div class="m-progressbar__bar">
        <div class="m-progressbar-bar__process" style="width:33%"></div>
        <span />
        <span />
        <span />
        <span />
    </div>

    <ul class="m-progressbar__bottom">
        <li>Whitelist</li>
        <li>Private Sale</li>
        <li>Public Sale</li>
    </ul>
</div>