.m-progressbar {
  margin-top: 32px;
  width: 100%;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    font-weight: normal;
    color: #8b9916;

    span {
      margin-right: 5px;
    }
  }

  &__bar {
    width: 100%;
    height: 34px;
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #8b9916, #92c5eb);
    border-image-slice: 1;
    margin-top: 15px;
    position: relative;
    z-index: 1;

    span {
      width: 2px;
      height: 42px;
      background-image: linear-gradient(to bottom, #92c5eb, #8b9916);
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 12px;

      &:nth-child(2) {
        left: 33.33%;
      }
      &:nth-child(3) {
        left: 66.66%;
      }
      &:nth-child(4) {
        left: auto;
        right: 12px;
      }
    }
  }

  &-bar {
    &__process {
      height: 100%;
      background-image: linear-gradient(265deg, #aed4f0, #92c5eb);
      position: relative;
      z-index: 1;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #8585a2;
    position: relative;
    z-index: 2;
    margin-top: 29px;

    li {
      width: 33.33%;
    }
  }
}
