<div class="m-progressbar">
    <ul class="m-progressbar__top">
        <li><span>Raised:</span>40.000.000 Tokens</li>
        <li><span>Target:</span>40.000.000 Tokens</li>
        <li><span>Project Phase:</span>%42</li>
    </ul>

    <div class="m-progressbar__bar">
        <div class="m-progressbar-bar__process" style="width:42%"></div>
    </div>

    <ul class="m-progressbar__bottom">
        <li>Soft Cap</li>
        <li>Crowd Sale</li>
        <li>Hard Cap</li>
        <li>Whitelist</li>
        <li>Public Sale</li>
        <li>Dex</li>
        <li>Cex</li>
    </ul>
</div>