<div class="m-timeline" data-component="Timeline">
    <ul class="m-timeline__control">
        <li class="m-timeline__control--left disabled">BACK<div class="m-ring"><span><IconFont icon="right" /></span></div></li>
        <li class="m-timeline__control--right"><div class="m-ring"><span><IconFont icon="right" /></span></div>NEXT</li>
    </ul>
    <div class="m-timeline__progress">
        <div class="m-timeline-progress__bar"><span style="width: 500px;" /></div>
        <ul>
            <li class="completed">Q1 - 2022 <span /></li>
            <li class="active">Q2 - 2022 <span /></li>
            <li>Q3 - 2022 <span /></li>
            <li>Q4 - 2022 <span /></li>
            <li>Q1 - 2023 <span /></li>
            <li>Q2 - 2023 <span /></li>
            <li>Q3 - 2023 <span /></li>
            <li>Q4 - 2023 <span /></li>
            <li>Q1 - 2024 <span /></li>
            <li>Q2 - 2024 <span /></li>
        </ul>
    </div>
    <div class="m-timeline__content">
        <ol>
            <li>
                <h6>January - March</h6>
                <CardTimeline>
                    <ul>
                        <li class="done">Market Research</li>
                        <li class="done">Litepaper Release</li>
                        <li class="done">Whitepaper Release</li>
                        <li class="done">Smart Contract Development</li>
                        <li class="done">Website Release</li>
                    </ul>
                </CardTimeline>
            </li>
            <li class="active">
                <h6>April - June</h6>
                <CardTimeline>
                    <ul>
                        <li class="done">Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                        <li>Staking System Development</li>
                    </ul>
                </CardTimeline>
            </li>
            <li>
                <h6>July - September</h6>
                <CardTimeline>
                    <ul>
                        <li>Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                    </ul>
                </CardTimeline>
            </li>
            <li>
                <h6>July - September</h6>
                <CardTimeline>
                    <ul>
                        <li>Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                    </ul>
                </CardTimeline>
            </li>
            <li>
                <h6>July - September</h6>
                <CardTimeline>
                    <ul>
                        <li>Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                    </ul>
                </CardTimeline>
            </li>
            <li>
                <h6>July - September</h6>
                <CardTimeline>
                    <ul>
                        <li>Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                    </ul>
                </CardTimeline>            
            </li>
            <li>
                <h6>July - September</h6>
                <CardTimeline>
                    <ul>
                        <li>Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                    </ul>
                </CardTimeline>            
            </li>
            <li>
                <h6>July - September</h6>
                <CardTimeline>
                    <ul>
                        <li>Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                    </ul>
                </CardTimeline>            
            </li>
            <li>
                <h6>July - September</h6>
                <CardTimeline>
                    <ul>
                        <li>Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                    </ul>
                </CardTimeline>            
            </li>
            <li>
                <h6>July - September</h6>
                <CardTimeline>
                    <ul>
                        <li>Market Research</li>
                        <li>Litepaper Release</li>
                        <li>Whitepaper Release</li>
                        <li>Smart Contract Development</li>
                        <li>Website Release</li>
                        <li>Whitepaper Release</li>
                    </ul>
                </CardTimeline>            
            </li>
        </ol>
    </div>
</div>