<div class="a-scroll-down js-scroll fade-in-up" data-component="ScrollDown">
    <div class="a-scroll-down__circle">
        <div class="a-scroll-down-circle__ring">
            SCROLL<br>DOWN
        </div>
    </div>
    <span />
    <span />
    <span />
    <span />
</div>