.o-contact {
  position: relative;
  padding-bottom: 80px;
  z-index: 2;
  @media screen and (max-width: 640px) {
    padding-bottom: 32px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, #92c5eb, #8b9916);
    opacity: 0.4;
  }

  h3 {
    font-size: rem(21px);
    font-weight: 500;
    line-height: normal;
    letter-spacing: rem(5px);
    text-align: center;
    color: #92c5eb;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 640px) {
      font-size: rem(16px);
      letter-spacing: 3.81px;
    }

    &:before {
      content: "";
      width: 2px;
      height: 64px;
      background-image: linear-gradient(to bottom, #92c5eb, #8b9916);

      @media screen and (max-width: 640px) {
        height: 32px;
      }
    }
  }

  h2 {
    font-size: rem(32px);
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #fff;
    margin-top: 12px;

    @media screen and (max-width: 640px) {
      font-size: rem(28px);
      margin-top: 8px;
    }
  }

  p {
    font-size: rem(16px);
    text-align: center;
    color: #8585a2;
    margin-top: 12px;

    @media screen and (max-width: 640px) {
      font-size: rem(14px);
      line-height: 2;
      margin: 8px auto;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(21px);
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-top: 80px;

    @media screen and (max-width: 1280px) {
      font-size: rem(17px);
    }

    @media screen and (max-width: 990px) {
      flex-direction: column;
    }

    @media screen and (max-width: 640px) {
      margin-top: 32px;
      font-size: rem(16px);
    }

    li {
      margin-right: 32px;

      @media screen and (max-width: 1280px) {
        margin-right: 20px;
      }

      @media screen and (max-width: 990px) {
        margin: 12px 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        display: flex;
        align-items: center;
        color: #fff;

        @media screen and (max-width: 990px) {
          flex-direction: column;
        }

        span {
          display: inline-flex;
          width: 60px;
          height: 60px;
          border-radius: 100%;
          align-items: center;
          justify-content: center;
          background-image: linear-gradient(to right, #92c5eb, #8b9916);
          margin-right: 16px;
          @media screen and (max-width: 990px) {
            margin-bottom: 8px;
            margin-right: 0px;
          }
          i {
            color: #fff;
            font-size: rem(24px);
          }
        }
      }
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;

    @media screen and (max-width: 640px) {
      margin-top: 32px;
    }

    img {
      width: 100%;
      max-width: 543px;

      @media screen and (max-width: 1024px) {
        max-width: 360px;
      }

      @media screen and (max-width: 990px) {
        max-width: 100%;
      }
    }

    .m-form-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        margin-bottom: 24px;
      }
      .a-input {
        width: calc(50% - 16px);

        @media screen and (max-width: 640px) {
          width: 100%;
          margin-bottom: 24px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    .m-form {
      width: calc(100% - 600px);

      @media screen and (max-width: 1024px) {
        width: calc(100% - 400px);
      }

      @media screen and (max-width: 990px) {
        width: 100%;
        margin-top: 32px;
      }
    }

    .a-btn {
      width: 100%;
      margin-top: 32px;
    }
  }
}
