$ { 
  const {renderBody, ...attrs} = input;
  const classes = ["a-section"];
  const id = input.id;

  if (input.class) {
    classes.push(input.class);
  }
}
<section class=classes id=id>
  <include(input.renderBody)/>
</section>
