.a-section {
  position: relative;
  z-index: 2;

  & ~ .a-video {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background-image: linear-gradient(197deg, #0b0b45 100%, #131361 55%, #0b0b45);
      position: absolute;
      z-index: 1;
    }
    
    video {
      opacity: .1;
      position: relative;
      z-index: 2;
    }
  }
}
