$ { 
  const {renderBody, ...attrs} = input;
  const classes = ["section"];

  if (input.class) {
    classes.push(input.class);
  }
}
<section class=classes>
  <include(input.renderBody)/>
</section>
