.m-accordion {
  position: relative;

  &__container {
    overflow: hidden;
    margin-top: -2px;

    &:last-child {
      .m-accordion__head {
        border-bottom: 2px solid;
        border-image-source: linear-gradient(
          to right,
          rgba(#92c5eb, 0.4),
          rgba(#8b9916, 0.4)
        );
        border-image-slice: 1;

        &--active {
          border-bottom: 0;
          border-top: 2px solid;
          border-image-source: linear-gradient(to right, #92c5eb, #8b9916);
        }
      }
    }
  }

  &__body {
    height: 0;
    opacity: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    color: #fff;
    font-size: rem(15px);
    line-height: 1.75;

    p {
      margin-bottom: rem(24px);

      @media screen and (max-width: 640px) {
        font-size: rem(14px);
        line-height: 2;
        width: 80%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__head {
    cursor: pointer;
    padding: rem(24px) 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: rem(21px);
    line-height: rem(32px);
    color: #8585a2;
    margin: 0;
    transition: all 0.5s ease;
    padding-right: 30px;
    border-top: 2px solid;
    border-image-source: linear-gradient(
      to right,
      rgba(#92c5eb, 0.4),
      rgba(#8b9916, 0.4)
    );
    border-image-slice: 1;

    @media screen and (max-width: 640px) {
      font-size: rem(16px);
      line-height: normal;
      padding: 15px 0;
    }

    span {
      width: calc(100% - 40px);
    }

    i {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -12px;
    }

    &--active {
      color: #fff;
      border-image-source: linear-gradient(to right, #92c5eb, #8b9916);
      i {
        transform: rotate(-180deg);
      }

      & + .m-accordion__body {
        height: auto;
        opacity: 1;
        display: block;
        padding: rem(12px) 0;
        padding-top: 0;
        margin-bottom: 0;
        color: #fff;
        border-bottom: 2px solid;
        border-image-source: linear-gradient(to right, #92c5eb, #8b9916);
        border-image-slice: 1;
      }
    }

    &:hover {
      color: #fff;
    }
  }
}
