$ {
    const src = input.src || "../../assets/images/content/why/pectotoken.svg";
    const title = input.title || "SAVINGS SYSTEM";
    const text = input.text || "With the smart savings system, you earn stake rewards while waiting for your delivery date.";
}
<div class="m-card-about">
    <div class="m-card-about__icon">
        <Image src=src />
    </div>
    <div class="m-card-about__content">
        <div class="m-card-about-content__box">
            <h5>${title}</h5>
            <p>${text}</p>
        </div>
    </div>
</div>