<div class="a-token-box">
    <div class="a-token-box__content">
        <span><b>total supply:</b> 1.000.000.000 pecto</span>
        <span><b>max supply:</b> 1.000.000.000 pecto</span>
        <span><b>token symbol:</b> pecto</span>
    </div>
</div>