body {
  background-color: #fff;
  font-size: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
  @media screen and (max-width: 768px) {
    overflow-x: hidden;
  }
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
}

i {
  font-style: normal;
  line-height: 1;
  display: inline-block;
}
i::before {
  font-size: 1.5rem;
  float: left;
}

[class*="icon-"] {
  &::before {
    font-family: $iconFontName;
  }
}

pre {
  font-family: inherit;
  white-space: break-spaces;
  color: inherit;
}
/* 
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.wrapper {
  padding-left: rem(150px);
}
 */
.disable-scroll {
  @media screen and (max-width: 990px) {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

input,
button,
label,
textarea,
select,
input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  appearance: none;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
}

a {
  text-decoration: none;
}
.w-100 {
  width: 100% !important;
}

figure {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.mobile-visible {
  display: none !important;

  @media screen and (max-width: 768px) {
    display: flex !important;
  }
}

.tablet-visible {
  display: none !important;

  @media screen and (max-width: 1200px) {
    display: flex !important;
  }
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.scrolled.fade-in-up {
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
