
%icon-check {
  content: "\EA01";
}
.icon-check {
  &::before {
    @extend %icon-check;
  }
}

%icon-close {
  content: "\EA02";
}
.icon-close {
  &::before {
    @extend %icon-close;
  }
}

%icon-discord {
  content: "\EA03";
}
.icon-discord {
  &::before {
    @extend %icon-discord;
  }
}

%icon-down {
  content: "\EA04";
}
.icon-down {
  &::before {
    @extend %icon-down;
  }
}

%icon-instagram {
  content: "\EA05";
}
.icon-instagram {
  &::before {
    @extend %icon-instagram;
  }
}

%icon-left {
  content: "\EA06";
}
.icon-left {
  &::before {
    @extend %icon-left;
  }
}

%icon-linkedin {
  content: "\EA07";
}
.icon-linkedin {
  &::before {
    @extend %icon-linkedin;
  }
}

%icon-mail {
  content: "\EA08";
}
.icon-mail {
  &::before {
    @extend %icon-mail;
  }
}

%icon-medium {
  content: "\EA09";
}
.icon-medium {
  &::before {
    @extend %icon-medium;
  }
}

%icon-play {
  content: "\EA0A";
}
.icon-play {
  &::before {
    @extend %icon-play;
  }
}

%icon-reddit {
  content: "\EA0B";
}
.icon-reddit {
  &::before {
    @extend %icon-reddit;
  }
}

%icon-right {
  content: "\EA0C";
}
.icon-right {
  &::before {
    @extend %icon-right;
  }
}

%icon-send {
  content: "\EA0D";
}
.icon-send {
  &::before {
    @extend %icon-send;
  }
}

%icon-telegram {
  content: "\EA0E";
}
.icon-telegram {
  &::before {
    @extend %icon-telegram;
  }
}

%icon-twitter {
  content: "\EA0F";
}
.icon-twitter {
  &::before {
    @extend %icon-twitter;
  }
}

